@font-face{
    font-family: 'WorkSans';
    src : local('WorkSans'),
    url('../font/WorkSans-Bold.woff') format('woff'),
    url('../font/WorkSans-ExtraBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'WorkSans';
    src: local('WorkSans'),
    url('../font/WorkSans-Medium.woff') format('woff'),
    url('../font/WorkSans-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;

}

@font-face{
    font-family: 'WorkSans';
    src: local('WorkSans'),
    url('../font/WorkSans-Regular.woff') format('woff'),
    url('../font/WorkSans-Regular.woff2') format('woff2');
    font-weight: normal normal;
    font-style: normal;

}
@font-face{
    font-family: 'WorkSans';
    src: local('WorkSans'),
    url('../font/WorkSans-ExtraBold.woff') format('woff'),
    url('../font/WorkSans-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face{
    font-family: 'Anton';
    src: local('Anton'),
    url('../font/Anton-Regular.woff') format('woff'),
    url('../font/Anton-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
